body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #02ff02;
  color: black;
  width: 1000px;
  margin-left: 100px;
  text-align: left;
}

h1 {
  color: black;
  margin-left: 25px;
}