body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #71f071;
  color: black;
  width: 750px;
  margin-left: 50px;
  text-align: left;
}

h1 {
  color: black;
  margin-left: 25px;
}